<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJ7hqbvk9H9PLjsZWcBGjP94KRCk4ovr8</string>
	<key>GCM_SENDER_ID</key>
	<string>648211858999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodrandom</string>
	<key>PROJECT_ID</key>
	<string>random-food-82642</string>
	<key>STORAGE_BUCKET</key>
	<string>random-food-82642.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648211858999:ios:fd61e3aeb2e72a5945e1b2</string>
</dict>
</plist>